<div class="centerContainer">
  <div>
    <div class="row">
      <div class="col-sm-12">
        <mat-card class="videoCard mat-elevation-z9">
          <video id="myVideo" poster="https://mdbootstrap.com/img/Photos/Others/placeholder-avatar.jpg"></video>
          <canvas id="myCanvas"></canvas>
        </mat-card>
      </div>
<!--      <div class="col-sm-4">-->
<!--        <mat-card class="objectCard">-->
<!--          <h5>Object Detected:</h5>-->
<!--          <div *ngFor="let o of detectedObjects">-->
<!--            <p>Object: {{o.class}}</p>-->
<!--            <p>Possibilities: {{o.score}}</p>-->
<!--          </div>-->
<!--        </mat-card>-->
<!--      </div>-->
<!--      <div class="col-sm-4">-->
<!--        <mat-card class="classifyCard">-->
<!--          <h5>Image Classifications</h5>-->
<!--          <div *ngFor="let c of classifications">-->
<!--            <p>Object: {{c.className}}</p>-->
<!--            <p>Possibilities: {{c.probability}}</p>-->
<!--            <hr />-->
<!--          </div>-->
<!--        </mat-card>-->
<!--      </div>-->
    </div>
  </div>
</div>
